#events-top {
    text-align: center;
    margin: 20px auto;
    padding: 0px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#cal-view-button, #filler {
    font-size: 16px;
    width: 140px;
    height: 50px;
    color: white;
    border: 0;
    border-radius: 10px;
}

#future-events, #past-events {
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}

#future-events {
    margin-bottom: 200px;
}

.one-show {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    border: 3px ridge rgb(2, 167, 158);
    border-radius: 30px;
    background-color: white;
    margin: 20px;
}

#show-date, #show-categories {
    margin: 10px;
    width: 10vw;
    flex-shrink: 0;
    text-align: center;
}

#show-tags {
    width: 80%;
    min-width: 200px;
    padding: 10px;
    line-break: normal;
}

#show-title {
    margin: 20px auto 0 auto;
    width: fit-content;
    max-width: 80%;
}

#show-title h3 {
    border-radius: 10px;
    border: 2px solid rgb(2, 167, 158);
    color: black;
    background-color: rgb(240, 253, 240);
    width: fit-content;
    margin: 0;
    padding: 10px 20px;
    
}

.event-band-link {
    margin: 20px;
    color: black;
    font-size: calc((2.1 - 1) * 1.2vw + .4rem) ;
}

.one-show #show-tags #band-links {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#past-events #events-list div #show-tags {
    padding: 0px;
}

#no-events p {
    font-size: calc((2 - 1) * 1.2vw + .5rem);
}

.no-events {
    width: 70vw;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #events-top {
        flex-flow: column nowrap;
        margin: 0px 5%;
        padding: 0;
        /* gap: 10px; */
    }
    
    #cal-view-button{
        font-size: 14px;
        width: 120px;
        height: 30px;
    }

    #future-events h2 {
        font-size: calc((3 - 1) * 1.2vw + 1rem);
        margin: 20px;
    }

    #filler {
        width: 0;
        height: 0;
        margin: 0;
    }
    
    #future-events, #past-events {
        padding: 0px;
        margin: 50px auto;
    }
    
    .one-show {
        flex-flow: column nowrap;
        margin: 5%;
        padding: 0 10px;
    }

    #show-title {
        margin: 0 auto;
    }
    
    #show-date, #show-categories {
        width: auto;
        min-width: 100px;
        margin: 5px auto;
    }

    .one-show #show-tags #band-links {
        flex-flow: column nowrap;
        margin: 10px;
    }

    .event-band-link {
        display: block;
        font-size: 1rem;
        margin: 5px auto;
    }
    
    #show-tags {
        width: 100%;
        padding: 0px;
    }
    
    #past-events #events-list div #show-tags {
        padding: 0px;
    }

    .no-events {
        width: 70vw;
        margin: 0 auto;
    }
}
