#homepage-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 1vw;
  gap: 2vw;
}

#next-event {
    text-align: center;
    margin: 0;
    width: fit-content;
    min-width: 35vw;
    padding: 0 50px 20px 50px;
    border: 1px solid black;
    box-shadow: 1px 3px 5px 0px;
    border-radius: 20px;
    background-color: white;
}

#peg-at-woodland {
  width: 30vw;
  max-width: 600px;
  min-width: 300px;
}

#homepage-events {
  width: 60vw;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1vw;
}

#homepage-events-title {
  text-align: center;
  margin: 1vw;
}

.one-event {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .5vw;
}

#event-date {
  width: 6vw;
}

#event-categories {
  width: 4vw;
}

#event-tags {
  width: 54vw;
}

#event-tags, #event-description, #event-band-links h4, #event-band-links a, #event-title h3 {
  font-size: calc((1.5 - 1) * 1.2vw + .6rem);
}

#event-date, #event-categories {
  font-size: calc((1.5 - 1) * 1.2vw + .4rem);
}

#event-tags {
  padding: 0 2vw;
}

#event-band-links .event-band-link {
  margin: 0 1vw 0 0;
}

.one-event:nth-of-type(odd) {
  background: rgba(194, 194, 194, .15);
}
.one-event:nth-of-type(even) {
  background: rgba(194, 194, 194, .3);
}

#to-past-events {
  width: fit-content;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin: 1vw auto;
  display: block;
  font-size: 20px;
  border-radius: 20px;
}

#big-band-links a {
  display: block;
}

#band-links {
  margin: 50px;
}

.band-link {
  margin: 20px;
  color: black;
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}

.band-link:hover {
  color: rgb(2, 167, 158);
}

@media screen and (max-width: 808px) {
  #peg-at-woodland {
    width: 80vw;
    min-width: 0px;
  }
}

@media screen and (max-width: 600px) {
  #homepage-top {
    margin: 5vw 1vw;
    flex-flow: column-reverse wrap;
  }

  #homepage-events {
    width: 90vw;
  }

    #next-event {
      margin: 20px auto;
      padding: 5vw;
      min-width: 70%;
      max-width: 90%;
    }

    #next-event h2 {
      margin: 20px;
    }
}