.blue {
  background-color: rgb(2, 167, 158);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* transform: translate(-50%, 0); */
  width: calc(140px * 1.88);
  height: 140px;
  background: transparent;
}

#nav-container {
  position: sticky;
  top: 0;
  padding-bottom: 70px; 
}

#nav-flex {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

#nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
}

#nav-links a, #nav-flex a {
  text-decoration: none;
  color: white;
}

main h2 {
  text-align: center;
  margin: 40px 20px;
}

#mailing-list {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

#mailing-list-copy h2 {
  margin: 0px auto;
}

#mailing-list-copy p {
  margin-bottom: 30px;
  font-size: 15px;
}

#mailing-list-address {
  height: 40px;
  width: 200px;
  margin: auto 20px;
  font-size: 16px;
}

#mailing-list-submit {
  height: 50px;
  font-size: 20px;
  background-color: rgb(2, 167, 158);
  color: white;
  border: 0px;
  padding: 5px 20px;
  border-radius: 20px;
}

#footer {
  text-align: center;
  padding: 30px;
  margin: 0px auto;
}

#footer, #footer a {
  color: white;
}

#footer-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px 50px;
}

#IGGallery-all-pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  gap: 2vw;
}

.IGGallery-pic {
  width: 400px;
  height: 400px;
  margin: 5px;
  object-fit: cover;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  main h2 {
    text-align: center;
    margin: 0 20px 40px 20px;
  }

  #nav-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    gap: 20px;
  }

  #nav-container {
    padding-bottom: 58px;
  }

  #logo { 
    width: calc(80px * 1.88);
    height: 80px;
  }

  #nav-links {
    gap: 10px;
  }

  #to-home h1 {
    font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    margin: 0;
  }

  #nav-flex a {
    font-size: 14px;
  }

  #IGGallery-all-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .IGGallery-pic {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border: 1px solid black;
  }

  #mailing-list-copy p {
    font-size: calc((1.7 - 1) * 1.2vw + .5rem);
    margin-bottom: 10px;
  }

  #mailing-list-submit, #mailing-list-address {
    height: 40px;
    font-size: 1rem;
    margin: 5px 10px;
  }

  #mailing-list-address {
    height: 30px;
    width: 60%;
    min-width: 150px;
    font-size: .8rem;
  }

  #mailing-list {
    margin: 20px 3%;
  }

  #footer {
    padding: 1px;
  }

  #footer-flex {
    display: block;
    margin-top: 20px;
  }

  #history h2 {
    font-size: 24px;
  }

  main {
    margin-top: -20px;
  }
}